@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
}

h1 {
    font-weight: 700;
    padding: 64px 0 77px 0;
    font-size: 60px;
    color: #707070;
}

.navbar {
    background-color: #E83E8C !important;
}

.navbar img {
    width: 132px;
}

.medios-pago {    
    color: #fff;    
    background-color: #17A2B8;
    height: 170px;
    padding: 58px 0px 57px 0px;
    font-size: 53px;
}

.medios-pago h2 {
    font-size: 40px;
}

footer {
    background-color: #E83E8C;
}

footer img {
    width: 53px;
    padding: 53px 0 53px 0;
}

.fila {
    margin: 0px 90px 180px 90px;
}